
html,
body{
    height: 100%;
    width: 100%;
}

        .home-cta{
            height: 100%;
            width: 100%;
            background: url('/images/6289.jpg');
            background-size: cover;
            justify-content: center;
            display: flex;
            align-items: center;
            

        }
        .home-cta > h1{
            color: salmon;
            text-shadow: 2px 2px 3px #ffffff;
            font-size: 5rem;
            text-align: center;
        }


        .form-inline {
            display: inline-block;
            margin: 0;
            padding: 0;
          }
          
          a {
            text-decoration: none !important;
          }
          
          .form-inline > .delete {
            border: none;
            background: none;
            color: #007bff;
            margin: 0;
            padding: 0;
          }
          
          .form-inline > .delete:hover {
            color: #0056b3;
          }
      

         
        
    

