
html,
body{
    height: 100%;
    width: 100%;
}

        .home-cta{
            height: 100%;
            width: 100%;
            background: url('/images/2.jpg');
            background-size: cover;
            justify-content: center;
            display: flex;
            align-items: center;
            

        }
        .home-cta > h1{
            color: salmon;
            text-shadow: 2px 2px 3px #ffffff;
            font-size: 5rem;
            text-align: center;
        }
      

         
        
    

