<%- include('../partials/header') %> 
<div class="container my-5">
    <header class="jumbotron">
        <h1>Here is all About me!</h1>
    </header>

        <div>
        <p>The journey of Rishav Vashisht</p>

        </div>
 </div>       
<%- include('../partials/footer') %> 