<%- include ('../partials/header') %> 

    <style>
          body{background: url('/images/3.jpg');
            height: 100%;
            width: 100%;
            background-size: cover;
            }
       
        .img{
            height: 50%;
            width: 30%;
            margin: 0 auto ;
            background: url('/images/1.jpg');
            background-size: cover;
            border-radius: 25%;
            
        }
         .contact{width: 400px; padding: 55px; margin: 0 auto;}

        .contact h2{
            color:red; 
            font-family: 'Times New Roman', Times, serif;
            font-size: 40px;
        
        }
        .contact > p{
            font-size:20px ;
            color: ghostwhite;
        }
         .contact input[type=text],
         .contact input[type=email],
         textarea{
             width: 100%; margin-bottom: 15px;
             padding: 5px;
         }
         .contact a{
             text-decoration: none;
             background-color: chartreuse;
             color: black;
             display: block;
             padding: 10px 15px;
             text-align: center;
             font-size: 15px;
         }  
    </style>
    

    

    <header class=" ">
          <h1>Here is my contact form</h1>
    </header>
     <div class="contact">
        <h2>Contact form</h1>
        <p>I will try to contact you within 24 hours</p>
            <input type="text" class="input-field" placeholder="Your name">
            <input type="email" class="input-field" placeholder="Your email">
            <input type="text" class="input-field" placeholder="Your number">
            <textarea type="text" class="input-field" placeholder="Your message"></textarea>

         <a href="#">Submit</a>
        
     </div>
     <div class="img">

     </div>
    <div>
        <h2>Bio</h2>
<p>Hello everyone, This is Rishav.
    I am from India.
    I am just 20.
    i like to listen music and to do code.
   i Hope you like my profile.
</p>
    </div>


 <%- include ('../partials/footer') %> 