<%- include ('../partials/header') %> 
<div class="" >
        <header class="home-cta">
            <h1>Welcome to my blog</h1>
        </header>
        
       
</div>       
 <%- include ('../partials/footer') %> 
