<%- include ('../partials/header') %> 

<div class="container my-5">
    <header>
        <h1>Register New User</h1>
    </header>
    <hr>

  <div>
    <form action="/users/create" method="POST">
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input class="form-control" type="text" name="firstName">  
        </div>
        
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input class="form-control" type="text" name="lastName">  
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" type="text" name="email">  
        </div>

        <div class="form-group">
          <label for="emailConfirmation">Email Confirmation:</label>
          <input class="form-control" type="text" name="emailConfirmation">  
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>

        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
  </div>
</div>

<%- include ('../partials/footer') %> 